@media only screen and (max-width: 1200px) {
	header .search-form{
		margin: auto 3%;
	}
	.xx-link a{
		right: 5%;
	}
	.img-phone{
		max-width: 350px;
		top: 30%;
		left: 3%;
		padding: 20px;
	}
	.reponds-request .bottom-flex{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.reponds-request .bottom-flex p{
		text-align: left;
	}
	.boxes .header-img{
		width: 23.7em;
	}
	.section5-index .item{
		height: auto;
	}
	.section-gray-space .logo-box{
		flex-wrap: wrap;
	}
}


@media only screen and (max-width: 991px) {
	.pizza{
		width: 150px;
		top: 35%;
	}	
	.boxes .header-img{
		position: relative;
		width: 100%;
/*		margin-bottom: -20px;*/
		margin-left: auto;
	}
	.web-portfolio .top-text{
		padding: 20px;
		margin: 20px auto;
	}
	.header-center h1{
		width: 100%;
	}
	.blog-more{
		margin: 6% 0%;
	}
	.reponds-request .bottom-flex{
		justify-content: space-between;
	}
	.reponds-request .bottom-flex p{
		text-align: right;
	}
	.display-none{
		display: none;
	}
	.carousel-middle-img{
		margin-left: 0%;
	}
	.carousel-middle-img{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-left: 0%;
		flex-direction: column;
		height: 100%;
		margin-top: 0%;
	}
	.carousel-middle-img form button{
		margin-left: 0;
	}
	#popup-contact{
		width: 95%;
	}
	.mobile-show{
		display: block;
	}
	.mobile-hide{
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.pizza{
		width: 180px;
		top: 20%;
		left: 20%;
		padding: 20px;
	}
	.xx-link a{
		right: 50%;
	}
	.reponds-request .bottom-flex{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.reponds-request .bottom-flex p{
		text-align: left;
	}
	.img-phone{
		top: 20%;
		left: 3%;
	}
	.pink-pink{
		width: 150px;
	}
	.app-text{
		height: auto;
		margin: 20px 0px;
	}
	.flex-footer{
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 575px) {
	
}

@media only screen and (max-width: 500px) {
	.reponds-request{
		flex-wrap: wrap;
		align-items: center;
	}
	.flex-footer div{
		width: 100%;
	}
	.xx-link a{
		right: 40%;
	}
	#popup-succes, #popup-request{
		width: 90%;
	}
	header .search-form{
		margin: auto 0%;
	}
	.audio-link{
		margin: 0px;
	}
	audio{
		width: 200px;
	}
	.section4-index .hot-product{
		height: auto;
		flex-wrap: wrap;
		padding: 30px 10px;
	}
	.section4-index .hot-product:hover{
		height: auto;
	}
	.section4-index .hot-product .text-section4{
		flex: 100%;
	}
	.section4-index .hot-product p{
		height: auto;
	}
	.section5-index .item{
		height: auto;
	}
	.section6-index .blog-container{
		margin: 0px;
	}
}

@media only screen and (max-width: 425px) {
	.xx-link a{
		top: 88%;
	}
	.section5-index .item{
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 375px) {
	header .search-form{
		margin: 10px 0%;
	}
	.audio-bottom .delete,
	.audio-bottom .send{
		padding: 5px;
	}
}

@media only screen and (max-width: 360px) {
	#popup-audio{
		right: %auto
		left: 10%;
	}
	.sound-wave{
		width: 200px!Important;
	}
	#popup-listen-send{
		right: 5%;
	}
}
@media only screen and (max-width: 351px){

}