.menu-overlay .site-menu {
  z-index: 100000000000;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: top 0s .8s,visibility .8s;
  position: fixed;
  top: -100%;
  left: 0;
}
.menu-overlay .site-menu {
  transform-style: preserve-3d;
}

#menu-overlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-pointer-events: none;
  pointer-events: none;
}
#menu-overlay:after {
  right: 0;
  transform: translateX(100%);
}
#menu-overlay:before {
  left: 0;
  transform: translateX(-100%);
}
#menu-overlay div:before {
  top: 0;
  transform: translateY(-100%);
}
#menu-overlay div:after {
  bottom: 0;
  transform: translateY(100%);
}
#menu-overlay div:after, #menu-overlay div:before {
  height: 50%;
  left: 0;
  right: 0;
}
#menu-overlay div:after, #menu-overlay div:before, #menu-overlay:after, #menu-overlay:before {
  content: '';
  display: block;
  position: absolute;
  transition: transform ease .4s .4s;
}
#menu-overlay div:after, #menu-overlay div:before, #menu-overlay:after, #menu-overlay:before {
  background-color: #f7f7f7;
}

.menu-overlay .site-menu .menu-holder, .menu-overlay .site-menu>.aligner {
  display: flex;
}
.menu-overlay .site-menu>.aligner {
  height: 100%;
  flex-direction: column;
}
.aligner {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}


#tagline, .site-menu .social {
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: transform ease .3s,opacity ease .3s;
}
#tagline {
  width: 100%;
  transform: translateX(-20px);
}

#hero, #tagline, .logo-holder, .media-holder, .nav-controls, .social {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#tagline, body:not(.attachment) .entry-meta-footer {
  margin-top: 7%;
}

.menu-overlay .site-menu .menu-holder {
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.menu-overlay .site-menu .menu-list {
  display: block;
  width: 100%;
  opacity: 0;
  transform: scale(1.2);
  transition: transform ease .3s .2s,opacity ease .3s .2s;
}

#menu-overlay:after, #menu-overlay:before {
  width: 50%;
  top: 0;
  bottom: 0;
}

.menu-overlay .site-menu .menu-list>li:first-child {
  margin-left: 0;
}
.menu-overlay .site-menu .menu-list>li {
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}
.site-menu .menu-list>li, .site-menu .menu-list>li>a, .site-menu .nav-controls li, .site-menu .nav-controls li a, .site-menu>* {
  vertical-align: middle;
}
.site-menu .menu-list>li, .site-menu .nav-controls li {
  margin-left: 1.333334em;
}
.site-menu .menu-list li, .site-menu .nav-controls li {
  padding: 0;
}
.site-menu ul li {
  position: relative;
}
.site-menu a, .site-menu li, .site-menu ul {
  display: inline-block;
}





/*Active*/

.menu-overlay.menu-active .site-menu {
  overflow-y: scroll;
  visibility: visible;
  top: 0;
  transition: top 0s,visibility 0s;
}
.menu-active #menu-overlay div:after, .menu-active #menu-overlay div:before, .menu-active #menu-overlay:after, .menu-active #menu-overlay:before {
  transform: translate(0,0);
  transition-delay: 0s;
}

.menu-active #tagline, .menu-active .site-menu .social {
  opacity: 1;
  transform: translateX(0);
  transition-delay: .6s;
}
.menu-overlay.menu-active .site-menu .menu-list {
  opacity: 1;
  transform: scale(1);
  transition-delay: .3s;
}

.menu-overlay.menu-active {
  cursor: url('https://beat.az/skin/assets/img/cross.svg'), auto !important;
}

strong{
  font-weight: 700;
}
.menu-active{
  font-size: 18px;
  font-weight: 400;
}
#tagline .tagline:before {
  content: '';
  width: 60px;
  border-bottom: 1px solid;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 2px;
}
.menu-overlay .site-menu .menu-list>li>a>.menu-title{
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-overlay .site-menu .menu-list>li>a:hover{
  color: #7e7e7e;
}
.menu-overlay .site-menu .menu-list>li>a{
  text-decoration: none;
}
.menu-overlay .site-menu .menu-list>li .submenu {
  z-index: 1;
  background-color: #f7f7f7;
}
.site-menu .menu-list>li>.submenu {
  margin-left: -30px;
}
.site-menu .submenu, .site-menu .submenu .has-dropdown .menu-title, .site-menu .submenu a, .site-menu .submenu>li {
  display: block;
}
.site-menu .submenu {
  visibility: hidden;
  padding: 15px 30px 20px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: visibility ease .3s,opacity ease .3s;
}
.site-menu li:hover>.submenu {
  visibility: visible;
  opacity: 1;
}
.menu-overlay .site-menu .menu-list>li .submenu:before {
  content: '';
  background-color: #f7f7f7;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.site-menu .submenu a {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.1;
}
.has-dropdown>.submenu>li:nth-child(1)>a>span, .menu-hidden .site-menu .menu-list>li:nth-child(1)>a>span {
  transition-delay: .1s;
}
.has-dropdown>.submenu>li:nth-child(2)>a>span, .menu-hidden .site-menu .menu-list>li:nth-child(2)>a>span {
  transition-delay: .2s;
}
.has-dropdown>.submenu>li:nth-child(3)>a>span, .menu-hidden .site-menu .menu-list>li:nth-child(3)>a>span {
  transition-delay: .3s;
}
.has-dropdown:hover>.submenu>li>a>span, .menu-hidden.menu-active .site-menu .menu-list>li>a>span {
  transform: translateY(0);
}
.site-menu .submenu a .menu-title {
  padding-bottom: 2px;
}
.has-dropdown>.submenu>li>a span, .menu-hidden .site-menu .menu-list>li>a span {
  transform: translateY(120%);
  transition: transform ease .3s;
}
@media(max-width:1200px){
  .menu-link{
    display: none;
  }
}
#tagline, .site-menu .social {
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: transform ease .3s,opacity ease .3s;
}
.menu-overlay .site-menu .social {
  position: relative;
  text-align: right;
  margin-bottom: 29px;
  transform: translateX(20px);
}
.menu-active #tagline, .menu-active .site-menu .social {
  opacity: 1;
  transform: translateX(0);
  transition-delay: .6s;
}
.menu-overlay .site-menu .social>span {
  font-size: 11px;
  text-transform: uppercase;
  opacity: .5;
}
.menu-overlay .site-menu .social .social-bar {
  margin-left: 12px;
  display: inline;
  align-items: center;
  margin-bottom: 20px;
}